@font-face {
    font-family: "YesevaOne";
    src:
      local("YesevaOne"),
      url("fonts/YesevaOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Mulish";
    src:
      local("Mulish"),
      url("fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}
body {
    font-family: Mulish, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.bg-selling,
.bg-comments {
    background-color: transparent;
    background-repeat: no-repeat;
}
@media (min-width: 768px) {
    .bg-selling {
        background-image: url(images/bg-selling.svg);
        background-position: bottom right;
        background-size: contain;
    }
}
@media (min-width: 768px) {
    .bg-comments {
        background-image: url(images/bg-comments.png);
        background-position: left bottom;
    }
}
.swiper-clients {
    padding: 2px 0;
}
.swiper-clients .swiper-slide {
    width: 112px;
    background-color: #fff;
}
@media (min-width: 768px) {
    .swiper-clients .swiper-slide {
        width: 218px;
    }
}
.swiper-selling {
    padding: 2px;
}
.swiper-selling .swiper-slide {
    width: 284px;
}
.swiper-comments {
    --swiper-navigation-sides-offset: 0px;
    width: 100%;
}
@media (min-width: 768px) {
    .swiper-comments {
        --swiper-navigation-sides-offset: -40px;
    }
}
.swiper-comments .swiper-slide {
    height: 250px;
    overflow: visible;
}
.swiper-comments .swiper-slide.swiper-slide-next {
    margin-top: 100px;
}
.swiper-comments .swiper-button-next,
.swiper-comments .swiper-button-prev {
    top: auto;
}
.swiper-comments .swiper-button-next::after,
.swiper-comments .swiper-button-prev::after {
    content: none;
}
.swiper-comments .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
    bottom: 10px;
}
.swiper-comments .swiper-button-next {
    bottom: 60px;
}
.swiper-comments.swiper-3d .swiper-slide-shadow {
    display: none;
}