.swiper-clients {
    padding: 2px 0;
}
.swiper-clients .swiper-slide {
    width: 218px;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px #00000038;
}
.bg-selling {
    background-color: transparent;
    background-image: url(images/bg-selling.png);
    background-position: center center;
    background-repeat: no-repeat;
}